<div class="container pt-5" style="padding-left: 0px;padding-right: 0px;">
    <!-- Footer -->
    <footer class="footer">
        <div class="container-fluid" style="padding-left: 0px;padding-right: 0px;">
            <!-- Logo Row -->
            <div class="container-fluid logo-section" style="padding: 0;">
                <div class="row">
                    <div class="col-12" style="padding-right: 26px;padding-left: 26px;">
                        <div class="d-flex justify-content-between mt-2 mb-2 ms-3 me-3">
                            <div>
                                <image class="logo-image me-3" src="image/logo.png" alt="Logo 1">
                            </div>
                            <div>
                                <image class="logo-image me-3" src="image/logo1.png" alt="Logo 2">
                            </div>
                            <div>
                                <image class="logo-image me-3" src="image/logo2.png" alt="Logo 3">
                            </div>
                            <div>
                                <image class="logo-image me-3" src="image/logo3.png" alt="Logo 4">
                            </div>
                            <div>
                                <image class="logo-image me-3" src="image/logo4.png" alt="Logo 5">
                            </div>
                            <div>
                                <image class="logo-image me-3" src="image/logo5.png" alt="Logo 6">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer Links -->
            <div class="siuuuuuu">
                <div class="d-flex">
                    <div class="col-md-3 text-left mt-3">
                        <h5>MUA SẮM</h5>
                        <p><a href="#">Giao hàng</a></p>
                        <p><a href="#">Thanh toán</a></p>
                        <p><a href="#">Trả hàng</a></p>
                        <p><a href="#">Tìm cửa hàng</a></p>
                        <p><a href="#">Magazine</a></p>
                    </div>
                    <div class="col-md-3 text-left mt-3">
                        <h5>THÔNG TIN DOANH NGHIỆP</h5>
                        <p><a href="#">Cơ hội nghề nghiệp tại N&B</a></p>
                        <p><a href="#">Giới thiệu về N&B Group</a></p>
                        <p><a href="#">Thời trang bền vững - N&B Group</a></p>
                        <p><a href="#">Báo chí</a></p>
                        <p><a href="#">Quan hệ với nhà đầu tư</a></p>
                        <p><a href="#">Quản trị Doanh nghiệp</a></p>
                    </div>
                    <div class="col-md-3 text-left mt-3">
                        <h5>TRỢ GIÚP</h5>
                        <p><a href="#">Dịch vụ Khách hàng</a></p>
                        <p><a href="#">Tài Khoản Của Tôi</a></p>
                        <p><a href="#">Các điều kiện và điều kiện</a></p>
                        <p><a href="#">Pháp lý & Bảo mật</a></p>
                        <p><a href="#">Liên hệ</a></p>
                        <p><a href="#">Thông báo cookie</a></p>
                        <p><a href="#">Chính sách bảo mật thông tin thanh toán của Cookie Settings</a></p>
                    </div>
                    <div class="col-md-3 text-left mt-3">
                        <h5>LIÊN HỆ</h5>
                        <p><i class="fas fa-map-marker-alt"></i> Ngõ Kiều Mai, P.Phúc Diễn, Q. Bắc Từ Liêm, Hà Nội.</p>
                        <p><i class="fas fa-phone"></i> 0123 456 234</p>
                        <p><i class="fas fa-envelope"></i> Nimbus@gmail.com</p>
                    </div>
                </div>
                <div class="col-12 mt-2 social-icons mb-2">
                    <div class="d-flex justify-content-center" style="padding-top: 15px;padding-bottom: 15px;">
                        <i class="fab fa-facebook" style="color: #3b5998;"></i>
                        <i class="fab fa-instagram-square" style="color: #e4405f;"></i>
                        <i class="fab fa-youtube" style="color: #ff0000;"></i>
                        <i class="fab fa-twitter" style="color: #1da1f2;"></i>
                        <i class="fab fa-telegram" style="color: #0088cc;"></i>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>