<header class="header">
    <button class="menu-icon-btn">
        <div class="menu-icon">
            <i class="fa-regular fa-bars"></i>
        </div>
    </button>
</header>
<div class="container-fluid">
    <div class="container" style="padding-left: 0px;padding-right: 0px;">
        <aside class="sidebar open">
            <div class="top-sidebar">
                <a href="#" class="channel-logo">
                    <image src="./assets/image/favicon1.png" alt="Channel Logo">
                </a>
                <div class="hidden-sidebar your-channel">
                    <image src="assets/image/admin/nb-fasion-title.png" style="height: 30px;" alt="">
                </div>
            </div>
            <div class="middle-sidebar">
                <ul class="sidebar-list">
                    <li class="sidebar-list-item tab-content" ng-class="{active: activeTab === 'trang_chu'}">
                        <a href="#!trang_chu" class="sidebar-link" ng-click="setActiveTab('trang_chu')">
                            <div class="sidebar-icon"><i class="fa-light fa-house"></i></div>
                            <div class="hidden-sidebar">Trang tổng quan</div>
                        </a>
                    </li>
                    <li class="sidebar-list-item tab-content" ng-class="{active: activeTab === 'ban_hang'}">
                        <a href="#!ban_hang" class="sidebar-link" ng-click="setActiveTab('ban_hang')">
                            <div class="sidebar-icon"><i class="fas fa-shopping-cart"></i></div>
                            <div class="hidden-sidebar">Bán hàng</div>
                        </a>
                    </li>
                    <li class="sidebar-list-item tab-content" ng-class="{active: activeTab === 'san_pham'}">
                        <a href="#!san_pham" class="sidebar-link" ng-click="setActiveTab('san_pham')">
                            <div class="sidebar-icon"><i class="fa-light fa-tshirt"></i></div>
                            <div class="hidden-sidebar">Quản lý sản phẩm</div>
                        </a>
                    </li>
                    <li class="sidebar-list-item tab-content" ng-class="{active: activeTab === 'khach_hang'}">
                        <a href="#!khach_hang" class="sidebar-link" ng-click="setActiveTab('khach_hang')">
                            <div class="sidebar-icon"><i class="fa-light fa-users"></i></div>
                            <div class="hidden-sidebar">Khách hàng</div>
                        </a>
                    </li>
                    <li class="sidebar-list-item tab-content" ng-class="{active: activeTab === 'don_hang'}">
                        <a href="#!don_hang" class="sidebar-link" ng-click="setActiveTab('don_hang')">
                            <div class="sidebar-icon"><i class="fa-light fa-basket-shopping"></i></div>
                            <div class="hidden-sidebar">Đơn hàng</div>
                        </a>
                    </li>
                    <li class="sidebar-list-item tab-content" ng-class="{active: activeTab === 'thong_ke'}">
                        <a href="#!thong_ke" class="sidebar-link" ng-click="setActiveTab('thong_ke')">
                            <div class="sidebar-icon"><i class="fa-light fa-chart-simple"></i></div>
                            <div class="hidden-sidebar">Thống kê</div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bottom-sidebar">
                <ul class="sidebar-list">
                    <li class="sidebar-list-item user-logout">
                        <a href="/" class="sidebar-link">
                            <div class="sidebar-icon"><i class="fa-thin fa-circle-chevron-left"></i></div>
                            <div class="hidden-sidebar">Trang chủ</div>
                        </a>
                    </li>
                    <li class="sidebar-list-item user-logout">
                        <a href="#" class="sidebar-link">
                            <div class="sidebar-icon"><i class="fa-light fa-circle-user"></i></div>
                            <div class="hidden-sidebar" id="name-acc"></div>
                        </a>
                    </li>
                    <li class="sidebar-list-item user-logout">
                        <a href="#" class="sidebar-link" id="logout-acc">
                            <div class="sidebar-icon"><i class="fa-light fa-arrow-right-from-bracket"></i></div>
                            <div class="hidden-sidebar">Đăng xuất</div>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
        <main class="content">
            <div ng-view></div>
        </main>
    </div>
</div>