<nav class="header-bottom">
    <div class="container">
        <ul class="menu-list">
            <li class="menu-list-item"><a href="#!trang_chu" class="menu-link">Trang chủ</a></li>
            <li class="menu-list-item"><a href="#!san_pham" class="menu-link">Shop</a></li>
            <li class="menu-list-item"><a href="#!ao_thu_dong" class="menu-link">Blog</a></li>
            <li class="menu-list-item"><a href="#!ao_phao" class="menu-link">About</a></li>
            <li class="menu-list-item"><a href="#!ao_so_mi" class="menu-link">Contact</a></li>
        </ul>
    </div>
</nav>
<main class="main-wrapper">
    <div class="container" id="trangchu">
        <div class="home-slider">
            <image src="/image/02.jpg" alt="" style="margin-top: 128px;">
        </div>

        <div class="home-service" id="home-service">
            <div class="home-service-item">
                <div class="home-service-item-icon">
                    <i class="fa-light fa-person-carry-box"></i>
                </div>
                <div class="home-service-item-content">
                    <h4 class="home-service-item-content-h">GIAO HÀNG NHANH</h4>
                    <p class="home-service-item-content-desc">Cho tất cả đơn hàng</p>
                </div>
            </div>
            <div class="home-service-item">
                <div class="home-service-item-icon">
                    <i class="fa-light fa-shield-heart"></i>
                </div>
                <div class="home-service-item-content">
                    <h4 class="home-service-item-content-h">SẢN PHẨM CHẤT LƯỢNG</h4>
                    <p class="home-service-item-content-desc">Cam kết chất lượng</p>
                </div>
            </div>
            <div class="home-service-item">
                <div class="home-service-item-icon">
                    <i class="fa-light fa-headset"></i>
                </div>
                <div class="home-service-item-content">
                    <h4 class="home-service-item-content-h">HỖ TRỢ 24/7</h4>
                    <p class="home-service-item-content-desc">Tất cả ngày trong tuần</p>
                </div>
            </div>
            <div class="home-service-item">
                <div class="home-service-item-icon">
                    <i class="fa-light fa-circle-dollar"></i>
                </div>
                <div class="home-service-item-content">
                    <h4 class="home-service-item-content-h">ĐỔI TRẢ</h4>
                    <p class="home-service-item-content-desc">Nếu không hài lòng</p>
                </div>
            </div>
        </div>
        <div class="home-title-block" id="home-title">
            <h2 class="home-title">KHÁM PHÁ CỬA HÀNG CỦA CHÚNG TÔI</h2>

            <div class="menu-container">
                <!-- 4 sản phẩm cũ -->
                <div class="menu-item">
                    <image src="/image/p18.jpg" alt="Áo Phông " class="menu-image">
                        <h3 class="menu-name">Áo Phông</h3>
                        <p class="menu-price">120.000 đ</p>
                        <button class="order-btn" type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            <i class="fa-solid fa-cart-shopping"></i> ĐẶT HÀNG
                        </button>
                </div>
                <div class="menu-item">
                    <image src="/image/p13.jpg" alt="Áo Sơ Mi" class="menu-image">
                        <h3 class="menu-name">Áo Sơ Mi</h3>
                        <p class="menu-price">120.000 đ</p>
                        <button class="order-btn" type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            <i class="fa-solid fa-cart-shopping"></i> ĐẶT HÀNG
                        </button>
                </div>
                <div class="menu-item">
                    <image src="/image/p8.jpg" alt="" class="menu-image">
                        <h3 class="menu-name">Áo Phao</h3>
                        <p class="menu-price">300.000 đ</p>
                        <button class="order-btn" type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            <i class="fa-solid fa-cart-shopping"></i> ĐẶT HÀNG
                        </button>
                </div>
                <div class="menu-item">
                    <image src="/image/p24.jpg" alt="" class="menu-image">
                        <h3 class="menu-name">Áo Phông</h3>
                        <p class="menu-price">100.000 đ</p>
                        <button class="order-btn" type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            <i class="fa-solid fa-cart-shopping"></i> ĐẶT HÀNG
                        </button>
                </div>

                <!-- 4 sản phẩm mới -->
                <div class="menu-item">
                    <image src="/image/p18.jpg" alt="Áo Phông " class="menu-image">
                        <h3 class="menu-name">Áo Phông</h3>
                        <p class="menu-price">120.000 đ</p>
                        <button class="order-btn" type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            <i class="fa-solid fa-cart-shopping"></i> ĐẶT HÀNG
                        </button>
                </div>
                <div class="menu-item">
                    <image src="/image/p13.jpg" alt="Áo Sơ Mi" class="menu-image">
                        <h3 class="menu-name">Áo Sơ Mi</h3>
                        <p class="menu-price">120.000 đ</p>
                        <button class="order-btn" type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            <i class="fa-solid fa-cart-shopping"></i> ĐẶT HÀNG
                        </button>
                </div>
                <div class="menu-item">
                    <image src="/image/p8.jpg" alt="" class="menu-image">
                        <h3 class="menu-name">Áo Phao</h3>
                        <p class="menu-price">300.000 đ</p>
                        <button class="order-btn" type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            <i class="fa-solid fa-cart-shopping"></i> ĐẶT HÀNG
                        </button>
                </div>
                <div class="menu-item">
                    <image src="/image/p24.jpg" alt="" class="menu-image">
                        <h3 class="menu-name">Áo Phông</h3>
                        <p class="menu-price">100.000 đ</p>
                        <button class="order-btn" type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            <i class="fa-solid fa-cart-shopping"></i> ĐẶT HÀNG
                        </button>
                </div>
            </div>
        </div>

    </div>
</main>
<div class="advanced-search" style="margin-top: 122px;left: 0px;width: 100%;height: 60px;">
    <div class="container">
        <div class="advanced-search-category">
            <span>Phân loại </span>
            <select name="" id="advanced-search-category-select" onchange="searchProducts()">
                <option>Tất cả</option>
                <option>Món chay</option>
                <option>Món mặn</option>
                <option>Món lẩu</option>
                <option>Món ăn vặt</option>
                <option>Món tráng miệng</option>
                <option>Nước uống</option>
            </select>
        </div>
        <div class="advanced-search-price">
            <span>Giá từ</span>
            <input type="number" placeholder="tối thiểu" id="min-price" onchange="searchProducts()">
            <span>đến</span>
            <input type="number" placeholder="tối đa" id="max-price" onchange="searchProducts()">
            <button id="advanced-search-price-btn"><i class="fa-light fa-magnifying-glass-dollar"></i></button>
        </div>
        <div class="advanced-search-control">
            <button id="sort-ascending" onclick="searchProducts(1)"><i
                    class="fa-regular fa-arrow-up-short-wide"></i></button>
            <button id="sort-descending" onclick="searchProducts(2)"><i
                    class="fa-regular fa-arrow-down-wide-short"></i></button>
            <button id="reset-search" onclick="searchProducts(0)"><i
                    class="fa-light fa-arrow-rotate-right"></i></button>
            <button onclick="closeSearchAdvanced()"><i class="fa-light fa-xmark"></i></button>
        </div>
    </div>
</div>