<!-- Begin Page Content -->
<main class="content">
    <div class="section active">
        <div class="container-fluid">
            <!-- Page Heading -->
            <h1 class="page-title">Danh Sách Khách Hàng</h1>
            <div class="admin-control">
                <div class="admin-control-left">
                    <select name="tinh-trang-user" id="tinh-trang-user" onchange="showUser()">
                        <option value="2">Tất cả</option>
                        <option value="1">Hoạt động</option>
                        <option value="0">Bị khóa</option>
                    </select>
                </div>
                <div class="admin-control-center">
                    <form action="" class="form-search">
                        <span class="search-btn"><i class="fa-light fa-magnifying-glass"></i></span>
                        <input id="form-search-user" type="text" class="form-search-input"
                            placeholder="Tìm kiếm khách hàng..." oninput="showUser()">
                    </form>
                </div>
                <div class="admin-control-right">
                    <form action="" class="fillter-date">
                        <div>
                            <label for="time-start">Từ</label>
                            <input type="date" class="form-control-date" id="time-start-user" onchange="showUser()">
                        </div>
                        <div>
                            <label for="time-end">Đến</label>
                            <input type="date" class="form-control-date" id="time-end-user" onchange="showUser()">
                        </div>
                    </form>
                    <button class="btn-reset-order" onclick="cancelSearchUser()"><i
                            class="fa-light fa-arrow-rotate-right"></i></button>
                    <button id="btn-add-user" class="btn-control-large" onclick="openCreateAccount()"><i
                            class="fa-light fa-plus"></i> <span>Thêm khách hàng</span></button>
                </div>
            </div>
            <div id="show-product">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive text-center">
                            <table class="table table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Họ và tên</th>
                                        <th scope="col">Liên hệ</th>
                                        <th scope="col">Ngày tham gia</th>
                                        <th scope="col">Tình trạng</th>
                                        <th scope="col">Vai trò</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody id="show-user">
                                    <tr>
                                        <td>1</td>
                                        <td>124</td>
                                        <td>125</td>
                                        <td>22/09/2024</td>
                                        <td><span class="status-complete">Hoạt động</span></td>
                                        <td class="control control-table">
                                            <button class="btn-edit" id="edit-account" onclick="editAccount(125)"><i
                                                    class="fa-light fa-pen-to-square"></i></button>
                                            <button class="btn-delete" id="delete-account" onclick="deleteAcount(0)"><i
                                                    class="fa-regular fa-trash"></i></button>
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-warning btn-sm"
                                                ng-click="chinhSuaSanPham(item)"><i class="fas fa-edit"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- </div> -->